.banner {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0%;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  color: #6a040f;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto";
}

.banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  z-index: 3;
  margin: 5vmax;
  font-weight: 600;
  font-size: 2.5vmax;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner p {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 300 1.6vmax "Rancho";
  letter-spacing: 3px;
  z-index: 3;
  text-align: center;
}

.banner .bannerBtn {
  color: white;
  text-decoration: none;
  z-index: 3;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner .bannerBtn .btnIcon {
  color: #121fcf;
  animation-name: scroll;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes scroll {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.banner .bannerBtn button {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #121fcf;
  padding: 1em;
  color: white;
  display: flex;
  font-size: 1em;
  border-radius: 5px;
  font-family: "Roboto";
  transition: all 0.5s;
  font-weight: 500;
  transition: all 0.5s;
  /* align-items: center; */
  gap: 0.3em;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  clip-path: polygon(100% 57%, 0 100%, 100% 100%);

  /* clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 51% 0, 100% 68%, 0 100%, 100% 100%, 100% 0); */
  clip-path: circle(50% at 2% 27%);
  background: rgb(230, 57, 70);
  background: linear-gradient(
    90deg,
    #e63946 0%,
    rgba(9, 9, 121, 1) 51%,
    rgba(82, 183, 136, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.home_heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.6vmax;
  border-bottom: 1px solid #e63946;
  width: 20vmax;
  margin: 5vmax auto;
  padding: 1vmax;
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_container {
  display: flex;
  width: 80vw;
  margin: 2vmax auto;
  flex-wrap: wrap;
  justify-content: center;
}

.productCard {
  width: 17vmax;
  transition: all 0.5s;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: rgb(48, 48, 48);
}

.productCard > img {
  width: 17vmax;
}

.productCard > div {
  /* margin: 0.5vmax; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCard > div > span {
  margin: 0.5vmax;
  font: 300 1vmax "Roboto";
  color: #e63946;
}

.productCard p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  text-transform: capitalize;
  margin-bottom: 0;
  margin: 0.5vmax 0.5vmax;
}

.productCard > span {
  margin: 0.5vmax 0.5vmax;
  color: #5e60ce;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2vmax;
}

.productCard:hover {
  transform: translateY(-1vmax);
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
}

@media screen and (max-width: 600px) {
  .productCard p {
    font-size: 1.7vmax;
  }
  .productCard div {
    margin: 0vmax;
    display: block;
  }
  .productCard span {
    font-size: 1.5vmax;
  }
  .productCard div span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
